Naïve Bayes Classifier דוד טובול 342395563

In [329]:
import numpy as np
import pandas as pd
import csv
from pyitlib import discrete_random_variable as drv
import math
dict = {} 
col={}
name={}
labels3={}
prob=np.matrix([[], []])
f = open('Structure.txt','r')
a = ['ATTRIBUTE','@']
b= ['NUMERIC']
lst = []
for line in f:
    for word in a:
        if word in line:
            line = line.replace(word,"")
    lst.append(line)
f.close()
f = open("Structure.txt","w")
for line in lst:
    f.write(line)
f = open("Structure.txt", "r")
f = open('Structure.txt','r')
for line in f:
    for word in b:
        if word in line:
            dict.update( {line.split()[0] : "NUMERIC"} )
        if word not in  line:
            col.update( {line.split()[0]: "NOT NUMERIC"} )
name.update(dict) 
name.update(col)
print(name)
def valuesType(table,column):
    columnValues=table[column].unique().tolist()
    return columnValues
data = pd.read_csv ('test.csv')
x = pd.read_csv ('train.csv')
for key in name:
    if key in dict:
        data.update(data[key].fillna(math.floor(data[key].sum() / data[key].count())))
    else:
        data.update(data[key].fillna(max(data[key].astype(str))).str.lower())
for key in dict:
    data[key] = pd.cut(x[key],3,include_lowest=True,labels=["High", "Medium", "Low"])
data.to_csv("test.csv",index=False)
data=pd.read_csv ('test.csv')
data.head()

{'age': 'NUMERIC', 'balance': 'NUMERIC', 'day': 'NUMERIC', 'duration': 'NUMERIC', 'campaign': 'NUMERIC', 'previous': 'NUMERIC', 'job': 'NOT NUMERIC', 'marital': 'NOT NUMERIC', 'education': 'NOT NUMERIC', 'default': 'NOT NUMERIC', 'housing': 'NOT NUMERIC', 'loan': 'NOT NUMERIC', 'contact': 'NOT NUMERIC', 'month': 'NOT NUMERIC', 'poutcome': 'NOT NUMERIC', 'class': 'NOT NUMERIC'}

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,previous,poutcome,class
0,Medium,management,married,tertiary,no,High,yes,no,unknown,High,may,High,High,High,unknown,no
1,Medium,technician,single,secondary,no,High,yes,no,unknown,High,may,High,High,High,unknown,no
2,High,entrepreneur,married,secondary,no,High,yes,yes,unknown,High,may,High,High,High,unknown,no
3,Medium,blue-collar,married,unknown,no,High,yes,no,unknown,High,may,High,High,High,unknown,no
4,High,unknown,single,unknown,no,High,no,no,unknown,High,may,High,High,High,unknown,no

In [403]:

data=pd.read_csv ('test.csv')
for key in name:
    x=list(np.array(valuesType(data,key)))
    if 'nan' in x:
        x.remove('nan')
    labels3.update({key:x})
for keys,values in labels3.items():
    print(keys,values)

age ['Medium', 'High', 'Low']
balance ['High', 'Medium', 'Low']
day ['High', 'Medium', 'Low']
duration ['High', 'Medium', 'Low']
campaign ['High', 'Medium', 'Low']
previous ['High', 'Low']
job ['management', 'technician', 'entrepreneur', 'blue-collar', 'unknown', 'retired', 'admin.', 'services', 'self-employed', 'unemployed', 'housemaid', 'student']
marital ['married', 'single', 'divorced']
education ['tertiary', 'secondary', 'unknown', 'primary']
default ['no', 'yes']
housing ['yes', 'no']
loan ['no', 'yes']
contact ['unknown', 'cellular', 'telephone']
month ['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb', 'mar', 'apr', 'sep']
poutcome ['unknown', 'failure', 'other', 'success']
class ['no', 'yes']

In [433]:
#First, we will create a frequency table using each attribute of the dataset.
prior = data.groupby('class').size().div(len(data)) 
likelihood = {}
for key in name:
    likelihood[key]=data.groupby(["class", key])[key].count()
print(likelihood)

{'age': class  age
no     High      24260
       Low         174
       Medium    14021
yes    High       2395
       Low         111
       Medium     1219
Name: age, dtype: int64, 'balance': class  balance
no     High       38401
       Low            5
       Medium        45
yes    High        3719
       Medium         5
Name: balance, dtype: int64, 'day': class  day
no     High      12724
       Low        9295
       Medium    16436
yes    High       1338
       Low         914
       Medium     1473
Name: day, dtype: int64, 'duration': class  duration
no     High        38384
       Low             5
       Medium         57
yes    High         3641
       Low             1
       Medium         81
Name: duration, dtype: int64, 'campaign': class  campaign
no     High        38249
       Low            11
       Medium        195
yes    High         3722
       Medium          3
Name: campaign, dtype: int64, 'previous': class  previous
no     High        38454
       Low             1
yes    High         3725
Name: previous, dtype: int64, 'job': class  job
no     admin.           4319
       blue-collar      8914
       entrepreneur     1343
       housemaid        1090
       management       7834
       retired          1514
       self-employed    1344
       services         3721
       student           546
       technician       6542
       unemployed       1050
       unknown           238
yes    admin.            439
       blue-collar       595
       entrepreneur      102
       housemaid          76
       management        914
       retired           275
       self-employed     139
       services          287
       student           133
       technician        617
       unemployed        125
       unknown            23
Name: job, dtype: int64, 'marital': class  marital
no     divorced     4436
       married     23682
       single      10337
yes    divorced      480
       married      1925
       single       1320
Name: marital, dtype: int64, 'education': class  education
no     primary       6073
       secondary    20117
       tertiary     10751
       unknown       1514
yes    primary        445
       secondary     1746
       tertiary      1387
       unknown        147
Name: education, dtype: int64, 'default': class  default
no     no         37695
       yes          760
yes    no          3674
       yes           51
Name: default, dtype: int64, 'housing': class  housing
no     no         15578
       yes        22877
yes    no          2094
       yes         1631
Name: housing, dtype: int64, 'loan': class  loan
no     no      31808
       yes      6647
yes    no       3308
       yes       417
Name: loan, dtype: int64, 'contact': class  contact
no     cellular     23846
       telephone     2340
       unknown      12269
yes    cellular      2983
       telephone      244
       unknown        498
Name: contact, dtype: int64, 'month': class  month
no     apr       2267
       aug       5435
       dec         12
       feb       2041
       jan       1138
       jul       6127
       jun       4686
       mar        133
       may      12741
       nov       3431
       oct        285
       sep        159
yes    apr        451
       aug        552
       dec          1
       feb        255
       jan         38
       jul        460
       jun        442
       mar        125
       may        791
       nov        254
       oct        233
       sep        123
Name: month, dtype: int64, 'poutcome': class  poutcome
no     failure      3806
       other        1316
       success       334
       unknown     32999
yes    failure       360
       other         152
       success       309
       unknown      2904
Name: poutcome, dtype: int64, 'class': class  class
no     no       38455
yes    yes       3725
Name: class, dtype: int64}

In [475]:
#will generate a likelihood table.
count_yes=0
count_no =0
likelihood2 = {}
likelihood3 = {}
likelihood4 = {}
likelihood4_to = {}
lables={}
lables2={}
for i in range(len(data)):
    if (data["class"][i]=="yes"):
        count_yes+=1
    else:
        count_no+=1
P_Y=count_yes/len(data)
P_N=count_no/len(data)
pro_yes=1
pro_no=1
for key in name:
    likelihood2[key]=data.groupby(["class", key])[key].count()/len(data)
for key in name:
    likelihood3[key]={'no':likelihood[key]["no"]/likelihood[key]["no"].sum(),'yes':likelihood[key]["yes"]/likelihood[key]["yes"].sum()}

In [476]:

data=pd.read_csv ('test.csv')
for keys,values in labels3.items():
    x=max(len(likelihood2[keys]["no"]),(len(likelihood2[keys]["yes"])))
    if keys!="class":
        for j in range(x):
            if(values[j]in likelihood[keys]["no"] and values[j]in likelihood[keys]["yes"]):   
                likelihood4_no[values[j]]=round((likelihood[keys]["no"][values[j]]+likelihood[keys]["yes"][values[j]])/len(data),6)
            if(values[j]in likelihood[keys]["no"] and not values[j] in likelihood[keys]["yes"]):
                likelihood4_no[values[j]]=round((likelihood[keys]["no"][values[j]])/len(data),6)
            if(values[j]in likelihood[keys]["yes"] and not values[j] in likelihood[keys]["no"]):
                likelihood4_no[values[j]]=round((likelihood[keys]["yes"][values[j]])/len(data),6)
        likelihood4_to[keys]=(likelihood4_no)
        likelihood4_no={}
    else:
        break;
print("/______________________________________(x|class)______________________________________/")
for keys,values in likelihood3.items():
    print(keys,values)
print("/______________________________________(x)______________________________________/")
for keys,values in likelihood4_to.items():
    if(keys!="class"):
        print(keys,values)

/______________________________________(x|class)______________________________________/
age {'no': age
High      0.630867
Low       0.004525
Medium    0.364608
Name: age, dtype: float64, 'yes': age
High      0.642953
Low       0.029799
Medium    0.327248
Name: age, dtype: float64}
balance {'no': balance
High      0.99870
Low       0.00013
Medium    0.00117
Name: balance, dtype: float64, 'yes': balance
High      0.998657
Medium    0.001343
Name: balance, dtype: float64}
day {'no': day
High      0.330880
Low       0.241711
Medium    0.427409
Name: day, dtype: float64, 'yes': day
High      0.359195
Low       0.245369
Medium    0.395436
Name: day, dtype: float64}
duration {'no': duration
High      0.998387
Low       0.000130
Medium    0.001483
Name: duration, dtype: float64, 'yes': duration
High      0.977975
Low       0.000269
Medium    0.021757
Name: duration, dtype: float64}
campaign {'no': campaign
High      0.994643
Low       0.000286
Medium    0.005071
Name: campaign, dtype: float64, 'yes': campaign
High      0.999195
Medium    0.000805
Name: campaign, dtype: float64}
previous {'no': previous
High    0.999974
Low     0.000026
Name: previous, dtype: float64, 'yes': previous
High    1.0
Name: previous, dtype: float64}
job {'no': job
admin.           0.112313
blue-collar      0.231803
entrepreneur     0.034924
housemaid        0.028345
management       0.203719
retired          0.039371
self-employed    0.034950
services         0.096762
student          0.014198
technician       0.170121
unemployed       0.027305
unknown          0.006189
Name: job, dtype: float64, 'yes': job
admin.           0.117852
blue-collar      0.159732
entrepreneur     0.027383
housemaid        0.020403
management       0.245369
retired          0.073826
self-employed    0.037315
services         0.077047
student          0.035705
technician       0.165638
unemployed       0.033557
unknown          0.006174
Name: job, dtype: float64}
marital {'no': marital
divorced    0.115356
married     0.615837
single      0.268808
Name: marital, dtype: float64, 'yes': marital
divorced    0.128859
married     0.516779
single      0.354362
Name: marital, dtype: float64}
education {'no': education
primary      0.157925
secondary    0.523131
tertiary     0.279574
unknown      0.039371
Name: education, dtype: float64, 'yes': education
primary      0.119463
secondary    0.468725
tertiary     0.372349
unknown      0.039463
Name: education, dtype: float64}
default {'no': default
no     0.980237
yes    0.019763
Name: default, dtype: float64, 'yes': default
no     0.986309
yes    0.013691
Name: default, dtype: float64}
housing {'no': housing
no     0.405097
yes    0.594903
Name: housing, dtype: float64, 'yes': housing
no     0.562148
yes    0.437852
Name: housing, dtype: float64}
loan {'no': loan
no     0.827149
yes    0.172851
Name: loan, dtype: float64, 'yes': loan
no     0.888054
yes    0.111946
Name: loan, dtype: float64}
contact {'no': contact
cellular     0.620101
telephone    0.060850
unknown      0.319048
Name: contact, dtype: float64, 'yes': contact
cellular     0.800805
telephone    0.065503
unknown      0.133691
Name: contact, dtype: float64}
month {'no': month
apr    0.058952
aug    0.141334
dec    0.000312
feb    0.053075
jan    0.029593
jul    0.159329
jun    0.121857
mar    0.003459
may    0.331322
nov    0.089221
oct    0.007411
sep    0.004135
Name: month, dtype: float64, 'yes': month
apr    0.121074
aug    0.148188
dec    0.000268
feb    0.068456
jan    0.010201
jul    0.123490
jun    0.118658
mar    0.033557
may    0.212349
nov    0.068188
oct    0.062550
sep    0.033020
Name: month, dtype: float64}
poutcome {'no': poutcome
failure    0.098973
other      0.034222
success    0.008685
unknown    0.858120
Name: poutcome, dtype: float64, 'yes': poutcome
failure    0.096644
other      0.040805
success    0.082953
unknown    0.779597
Name: poutcome, dtype: float64}
class {'no': class
no    1.0
Name: class, dtype: float64, 'yes': class
yes    1.0
Name: class, dtype: float64}
/______________________________________(x)______________________________________/
age {'Medium': 0.361309, 'High': 0.631935, 'Low': 0.006757}
balance {'High': 0.998578, 'Medium': 0.001185, 'Low': 0.000119}
day {'High': 0.333381, 'Medium': 0.424585, 'Low': 0.242034}
duration {'High': 0.996325, 'Medium': 0.003272, 'Low': 0.000142}
campaign {'High': 0.995045, 'Medium': 0.004694, 'Low': 0.000261}
previous {'High': 0.999976, 'Low': 2.4e-05}
job {'management': 0.207397, 'technician': 0.169725, 'entrepreneur': 0.034258, 'blue-collar': 0.225439, 'unknown': 0.006188, 'retired': 0.042413, 'admin.': 0.112802, 'services': 0.095021, 'self-employed': 0.035159, 'unemployed': 0.027857, 'housemaid': 0.027643, 'student': 0.016098}
marital {'married': 0.607089, 'single': 0.276363, 'divorced': 0.116548}
education {'tertiary': 0.287767, 'secondary': 0.518326, 'unknown': 0.039379, 'primary': 0.154528}
default {'no': 0.980773, 'yes': 0.019227}
housing {'yes': 0.581034, 'no': 0.418966}
loan {'no': 0.832527, 'yes': 0.167473}
contact {'unknown': 0.302679, 'cellular': 0.63606, 'telephone': 0.061261}
month {'may': 0.320816, 'jun': 0.121574, 'jul': 0.156164, 'aug': 0.141939, 'oct': 0.012281, 'nov': 0.087364, 'dec': 0.000308, 'jan': 0.027881, 'feb': 0.054433, 'mar': 0.006117, 'apr': 0.064438, 'sep': 0.006686}
poutcome {'unknown': 0.851185, 'failure': 0.098767, 'other': 0.034803, 'success': 0.015244}

In [477]:
#print(likelihood3)
#print(likelihood4_to)
x={}
tt=0
pro_yes=1
pro_no=1
mistake_counter,correct_counter=0,0
trainDF = pd.read_csv('train.csv')
testDF = pd.read_csv('test.csv')
for x in range(len(testDF['age'].tolist())):
    fd=testDF.loc[trainDF.index[x]]
    pro_yes=1
    pro_no=1
    for keys,values in likelihood3.items():
        if keys=="class":
            break;
        x=likelihood4_to.get(keys)
        for t,y in x.items(): 
            if t in  likelihood3[keys]["yes"]:
                pro_yes=pro_yes*y
            else:
                pro_yes=pro_yes*y
    pro_yes*=P_Y
    pro_no*=P_N
    if pro_no<P_Y:
        if fd['class']=='yes':
            correct_counter+=1
        else:
            mistake_counter+=1
    else:
        if fd['class']=='no':
            correct_counter+=1
        else:
            mistake_counter+=1
print("Accuracy: ", math.floor(correct_counter/(correct_counter+mistake_counter)*100), " %")

Accuracy:  91  %